
@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

<a href="@Url.Action("Create", "Usuarios")" class="btn btn-secondary w-100 mt-3">Agregar Usuario</a>
<a href="@Url.Action("Create", "Vehiculo")" class="btn btn-secondary w-100 mt-3">Agregar Vehiculo</a>
<a href="@Url.Action("Create", "Parqueo")" class="btn btn-secondary w-100 mt-3">Agregar Parqueo</a>